{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Daily Cat Picture - by @jesusanayao at DjangoCon 2015</title>

    {% block extra_header %}{% endblock %}

    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s8 offset-s2">
                  {% block main %}{% endblock %}
                  <i>Powered by <a href="https://twitter.com/jesusanayao">@jesusanayao</a></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
