{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
<div class="card">
<div class="card-image">
  <img src="http://thecatapi.com/api/images/get?format=src&size=med">
  <span class="card-title">Daily Cat Pic</span>
</div>
<div class="card-content">
  <h3>Thank you for registering!</h3>
  <div class="row col s12">
      <div class="col s8 offset-s2">

        <a href="https://twitter.com/share?url=http://goo.gl/LZz4OZ&text=This website is awesome!&hashtags=DjangoCon,Azure&via=jesusanayao" class="btn blue lighten-1 share-twitter">

            <span class="text-white">
                Share in Twitter!
            </span>
            <img src="{% static 'img/twitter.png' %}" class="twitter-icon">
        </a>
      </div>
  </div>

</div>

</div>
{% endblock %}
